@*<!DOCTYPE html>*@
@*<html lang="en">*@
<head>
    <title>Carbook - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css" />

    <link href="~/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/css/flaticon.css" rel="stylesheet" />
    <link href="~/css/icomoon.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />


    <style>
        * {
            /*font-family: Roboto;*/
        }

        .footer-distributed {
            background: #444;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            font: bold 16px sans-serif;
            text-align: left;
            padding: 50px 60px 40px;
            overflow: hidden;
        }


            /* Footer left */

            .footer-distributed .footer-left {
                float: left;
            }

            /* The company logo */

            .footer-distributed h3 {
                color: #ffffff;
                font: normal 36px 'Roboto', cursive;
                margin: 0 0 10px;
            }

                .footer-distributed h3 span {
                    color: #5383d3;
                }

            /* Footer links */

            .footer-distributed .footer-links {
                color: #ffffff;
                margin: 0 0 10px;
                padding: 0;
            }

                .footer-distributed .footer-links a {
                    display: inline-block;
                    line-height: 1.8;
                    text-decoration: none;
                    color: inherit;
                }

            .footer-distributed .footer-company-name {
                color: #8f9296;
                font-size: 14px;
                font-weight: normal;
                margin: 0;
            }

            /* Footer social icons */

            .footer-distributed .footer-icons {
                margin-top: 40px;
            }

                .footer-distributed .footer-icons a {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    background-color: #33383b;
                    border-radius: 2px;
                    font-size: 20px;
                    color: #ffffff;
                    text-align: center;
                    line-height: 43px;
                    margin-right: 3px;
                    padding: 7px;
                    border: 1px solid #878787;
                }

            /* Footer Right */

            .footer-distributed .footer-right {
                float: right;
            }

                .footer-distributed .footer-right p {
                    display: inline-block;
                    vertical-align: top;
                    margin: 15px 42px 0 0;
                    color: #ffffff;
                }


            /* .footer-distributed .footer-center {
                float:inherit;
            }*/

            /* The contact form */
            .footer-distributed form {
                display: inline-block;
            }

                .footer-distributed form input,
                .footer-distributed form textarea {
                    display: block;
                    border-radius: 3px;
                    box-sizing: border-box;
                    background-color: #1f2022;
                    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
                    border: none;
                    resize: none;
                    font: inherit;
                    font-size: 14px;
                    font-weight: normal;
                    color: #d1d2d2;
                    width: 400px;
                    padding: 18px;
                }

            .footer-distributed ::-webkit-input-placeholder {
                color: #5c666b;
            }

            .footer-distributed ::-moz-placeholder {
                color: #5c666b;
                opacity: 1;
            }

            .footer-distributed :-ms-input-placeholder {
                color: #5c666b;
            }


            .footer-distributed form input {
                height: 55px;
                margin-bottom: 15px;
            }

            .footer-distributed form textarea {
                height: 100px;
                margin-bottom: 20px;
            }

            .footer-distributed form button {
                border-radius: 3px;
                background-color: #33383b;
                color: #ffffff;
                border: 0;
                padding: 15px 50px;
                font-weight: bold;
                float: right;
            }

        .textclass {
            color: aliceblue;
            font-style: inherit;
            font-size: 18px;
        }
        .icon-footer{padding:0;}


        .icon-footer li {
            padding: 0;
            margin-bottom:1rem;
            list-style:none;
        }


    </style>
</head>
<html>
<body>

    @RenderBody()

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Services</a></li>
                            <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Customer Support</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">FAQ</a></li>
                            <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                            <li><a href="#" class="py-2 d-block">How it works</a></li>
                            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
                        </ul>
                    </div>
                </div>*@
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Plot No-309,Lane-5,<br>Jaydev Vihar,BBSR,Pin-751014</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="">+91-909090909</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="">contact@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--<footer class="footer-distributed">

        <div class="footer-left">

            <h3>Company<span>logo</span></h3>
            <ul class="icon-footer">
                <li><span class="fa fa-envelope-o mr-2" style="color:white"></span><span><a href="#" class="textclass">contact@company.com</a></span></li>
                <li><span class="fa fa-phone mr-2"></span><span class="textclass">+91-909090909090</span></li>
                <li><span class="fa fa-map-pin mr-2"></span><span class="textclass">Plot No-309,Lane-5,<br>Jaydev Vihar,BBSR,Pin-751014</span></li>
            </ul>

            <p class="footer-links">
                <a href="~/RentalService/Index">Home</a>
                ·
                <a href="~/RentalService/About">About</a>
                ·
                <a href="~/RentalService/Pricing">Pricing</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Company Name © 2015</p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>-->
    <!--<div class="footer-center">-->
    <!-- Google Map Copied Code -->
    <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.1442162599346!2d85.8122470740959!3d20.294296912601336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1909f1ff9e9417%3A0xea142ce789be255e!2sMo%20Car%20Self%20Drive%20Car%20%26%20bike%20rental%20service%20in%20Bhubaneswar%2COrissa!5e0!3m2!1sen!2sin!4v1695703986388!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>-->
    <!--<div class="footer-right">

            <p>Contact Us</p>

            <form action="#" method="post">
                <input type="text" name="name" placeholder="Your Full Name">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="contactno" placeholder="Contact No">
                <textarea name="message" placeholder="Message"></textarea>
                <button>Book Ride</button>

            </form>

        </div>

    </footer>-->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)*@
</body>
</html>
